<a href="https://colab.research.google.com/github/wave010/EDA-Python/blob/main/New_York_City_Airbnb_Market.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **New York City Airbnb Market**

dataset : https://www.kaggle.com/datasets/ebrahimelgazar/new-york-city-airbnb-market

##***Get data***

In [7]:
!gdown --id 1kg5NnZTtptGrCK8DzYSkl3yo1IXLmwU- #download data file in google drive

/usr/local/lib/python3.8/dist-packages/gdown/cli.py:127: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1kg5NnZTtptGrCK8DzYSkl3yo1IXLmwU-
To: /content/NewYorkCity_AirbnbMarket.zip
100% 1.43M/1.43M [00:00<00:00, 154MB/s]

In [6]:
!unzip NewYorkCity_AirbnbMarket.zip # Extract file zip

Archive:  NewYorkCity_AirbnbMarket.zip
  inflating: airbnb_last_review.csv
  inflating: airbnb_price.csv
  inflating: airbnb_room_type.xlsx

**read file**

In [14]:
import pandas as pd

# read csv file to DataFrame
review = pd.read_csv("airbnb_last_review.csv")
price = pd.read_csv("airbnb_price.csv")

# read excel file to DataFrame
roomType = pd.read_excel("airbnb_room_type.xlsx","airbnb_room_type")

In [15]:
review.head()

    listing_id    host_name   last_review
0         2595     Jennifer   May 21 2019
1         3831  LisaRoxanne  July 05 2019
2         5099        Chris  June 22 2019
3         5178     Shunichi  June 24 2019
4         5238          Ben  June 09 2019

In [16]:
price.head()

   listing_id        price                nbhood_full
0        2595  225 dollars         Manhattan, Midtown
1        3831   89 dollars     Brooklyn, Clinton Hill
2        5099  200 dollars     Manhattan, Murray Hill
3        5178   79 dollars  Manhattan, Hell's Kitchen
4        5238  150 dollars       Manhattan, Chinatown

In [17]:
roomType.head()

   listing_id                                description        room_type
0        2595                      Skylit Midtown Castle  Entire home/apt
1        3831            Cozy Entire Floor of Brownstone  Entire home/apt
2        5099  Large Cozy 1 BR Apartment In Midtown East  Entire home/apt
3        5178            Large Furnished Room Near B'way     private room
4        5238         Cute & Cozy Lower East Side 1 bdrm  Entire home/apt